 html, body {
    overflow-x: hidden;
    font-family: "Raleway", Georgia, sans-serif;
 }

/**NAV**/

nav {
    width: 100%;
    height: 60px;
    overflow: auto;
}

.nav, .container {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.logo {
    width: 50%;
    float: left;
}

.sign-in {
    width: 50%;
    float: left;
    text-align: right;
}

.nav:before,
.nav:after,
.sign-in:before,
.sign-in:after{
   content: " ";
   display: table;
 }

.nav:before, .nav:after {
   clear: both;
 }

.logo img {
    width: 50%;
    margin-top: 10px;
}

.sign-in a {
    color: black;
    text-decoration: none;
}

.sign-in {
    margin-top: 20px;
}

/**Hero**/
 .hero {
    background: url("../images/hero1.jpg");
    background-size: cover;
    height: 550px;
}

h1, h2 {
    display: block;
    text-align: center;
}

.hero h1 {
    color: #4D8387;
    font-size: 48px;
    padding-top: 100px;
}

h2, .sign-in a, p {
    color: #39423A;
}

.hero button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #76F1F2;
    border: none;
    color: #39423A;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.hero-blur {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    content: ' ';
    background-color: white;
    opacity: 0.8;
}

.hero-content {
    z-index: 99;
    opacity: 1;
}

/**TESTIMONIAL**/
.testimonial {
    background-color: #D9B23F;
    width: 100%;
    height: 350px;
    clear: both;
}

.testimonial h2, .testimonial p, .testimonial a{
    color: floralwhite;
}

.testimonial h2, .which h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.testimonial container {
    clear: both;
    width: 80%;
}

.testimonial-image {
    float: left;
}

.testimonial-image {
    width: 15%;
}

.testimonial img {
    border-radius: 5px;
}

testimonial-quote {
    width: 85%;
}

/**WHICH**/
.which {
    width: 100%;
}

.which container {
    height: auto;
    overflow: auto;
    clear: both;
}

.designer, .business {
    width: 50%;
    float: left;
    display: block;
    margin: 0 auto;
}

.designer button, .business button {
    width: 400px;
    height: 150px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #76F1F2;
    border: none;
    color: #39423A;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.which p {
    text-align: center;
    padding-bottom: 30px;
    font-size: 14px;
}

.which a {
    text-decoration: none;
    color: #39423A;
    font-weight: bold;
    font-weight: 600;
}

/**FOOTER**/
.footer {
    background-color: #D9B23F;
    width: 100%;
    height: 60px;
    text-align: center;
}

.footer p {
    color: floralwhite;
    font-size: 14px;
    padding-top: 10px;
}



    
