 html, body{
   overflow-x: hidden;
 }

/**NAV**/

nav, .hero-background {
    width: 100%;
}

.nav {
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 50%;
    float: left;
}

.sign-in {
    width: 50%;
    float: left;
    text-align: right;
}

.nav:before,
.nav:after,
.sign-in:before,
.sign-in:after{
   content: " ";
   display: table;
 }

.nav:after{
   clear: both;
 }

.logo img {
    width: 50%;
}

/**Hero**/
 .hero-background {
    background: url("/images/hero1.jpg");
    background-size: cover;
     height: 550px;
}

.hero-background h1, .hero-background h2, button {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
}

.hero-blur {
  width: 500px;
  height: 300px;
  background-color: #FFF;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}